tr{
    border: 1px solid lightgray;
}
.estado{
    background: none;
    border:1px solid #349AFE;
    border-radius: 5px;
    padding: 5px 10px;
}

.acciones{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}